apdev-flights-ws-wt8.4/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:american-flights-api="http://www.mulesoft.org/schema/mule/american-flights-api"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/american-flights-api http://www.mulesoft.org/schema/mule/american-flights-api/current/mule-american-flights-api.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="getAmericanFlights" doc:id="bcfaff72-6c29-46ab-bb29-5d6467f690c3" >
		<http:listener doc:name="GET /american" doc:id="502c2934-d594-42d5-ad4d-a10297cc0e77" config-ref="HTTP_Listener_config" path="/american"/>
		<flow-ref doc:name="setCode" doc:id="e92dc748-15b4-4e33-bcb6-a9e26a5a4841" name="setCode"/>
		<american-flights-api:get-flights doc:name="Get flights" doc:id="c792d853-63cd-41cf-b89f-04478cc06c7a" config-ref="American_Flights_API_Config" client-id="${american.client_id}" client-secret="${american.client_secret}" destination="#[vars.code]"/>
		<ee:transform doc:name="JSON to [Flight]" doc:id="837828bb-48f5-4c74-a1cb-83c3ab3d7be6">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01, indexOfPayload01 ) ->
{
	airlineName: "American",
	availableSeats: payload01.emptySeats,
	departureDate: payload01.departureDate,
	destination: payload01.destination,
	flightCode: payload01.code,
	origination: payload01.origin,
	planeType: payload01.plane."type",
	price: payload01.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="3fbdb034-6c34-4175-8207-e73153bd0326" />
	</flow>
	<flow name="getUnitedFlights" doc:id="04ae2127-b9ca-47ca-b5bb-1e3ee8096efc" >
		<http:listener doc:name="GET /united" doc:id="1d0ba702-5596-4c7b-871f-40d32ebfcb8e" config-ref="HTTP_Listener_config" path="/united" allowedMethods="GET"/>
		<flow-ref doc:name="setCode" doc:id="709dfc03-8905-4c6a-a7a1-3635befb7d13" name="setCode"/>
		<http:request method="GET" doc:name="Get flights" doc:id="dc7cefba-9e91-4ab9-ad85-d33923e0bc16" config-ref="HTTP_Request_config_training" path="/united/flights/{dest}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"dest" : vars.code
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="JSON to. [Flight]" doc:id="e379490e-b469-4133-8866-8b7a2b298fb0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.flights map ( flight , indexOfFlight ) ->
{
	airlineName: flight.airlineName,
	availableSeats: flight.emptySeats,
	departureDate: flight.departureDate,
	destination: flight.destination,
	flightCode: flight.code,
	origination: flight.origin,
	planeType: flight.planeType,
	price: flight.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="257149ef-0612-445f-8a5c-2b8b52b34d0a" />
	</flow>
	<flow name="getDeltaFlights" doc:id="dc79bc1e-2af9-48ab-8ed8-210313ed2a09" >
		<http:listener doc:name="GET /delta" doc:id="e72f2093-28ac-4eb5-8502-bb1c233a2743" config-ref="HTTP_Listener_config" path="/delta"/>
		<flow-ref doc:name="setCode" doc:id="f0786d34-6d6d-402e-85af-c2743dd3c3f1" name="setCode"/>
		<ee:transform doc:name="Pass code" doc:id="66b60231-c64e-4ca4-8172-4644f1d68331" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: vars.code as String
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="findFlight" doc:name="Get flights" doc:id="e00648a6-e3c7-48db-af0a-02c72f313bc6" config-ref="Delta_Web_Service_Consumer_Config"/>
		<ee:transform doc:name="SOAP to [Flight]" doc:id="4fd7ee82-4445-407b-a7dd-cda6b3747872">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
ns ns0 http://soap.training.mulesoft.com/
---
payload.body.ns0#findFlightResponse.*return map ( return , indexOfReturn ) -> {
	airlineName: return.airlineName,
	availableSeats: return.emptySeats,
	departureDate: return.departureDate,
	destination: return.destination,
	flightCode: return.code,
	origination: return.origin,
	planeType: return.planeType,
	price: return.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ca6eaaa4-1baa-4469-a413-d82682690d1b" />
	</flow>
	<sub-flow name="setCode" doc:id="8c402e15-3db0-4741-9e86-6fdc4c462ac6" >
		<set-variable value='#[attributes.queryParams.code default "SFO"]' doc:name="code" doc:id="ef2e4eee-4a39-4db9-816a-460214aeb291" variableName="code"/>
	</sub-flow>
</mule>
